<h1>{{ user.first_name }} {{ user.last_name }} [{{ user.id }}]</h1>
<ul class="list-group">
    <li class="list-group-item">
        <strong>Email: </strong> {{user.email}}
    </li>
    <li class="list-group-item">
        <strong>Phone: </strong> {{user.phone}}
    </li>
</ul>
<a href="/" class="btn btn-warning pull-left">Back</a>
<a href="/user/edit/{{user.id}}" class="btn btn-success pull-left">Edit</a>

<form action="/user/delete/{{ user.id }}?_method=DELETE" method="post">
    <button type="submit" class="btn btn-danger pull-right">Delete</button>
</form>
{{!-- <form action="/user/update/{{ user.id }}?_method=PUT" method="post">
    <button type="submit" class="btn btn-success pull-right">Update</button>
</form> --}}